/* Fonts */
@font-face {
    font-family: 'GB Shinto';
    src: url('/public/font/GbshintoRegular-VMGx.otf') format('opentype');
}

.noto-serif-ethiopic {
    font-family: 'Noto Serif Ethiopic', serif;
    font-weight: 900;
}

body {
    font-family: 'Noto Serif Ethiopic';
    user-select: none;  
}